---
// import SocialButton from '../components/buttons/SocialButton.astro'
import { CONTACT, SOCIALS } from '../../config'

const footerLinks = [
  { label: 'Home', href: '/' },
  { label: 'Services', href: '/services' },
  { label: 'About', href: '/about' },
  { label: 'Work', href: '/work' },
  { label: 'Contact us', href: '/contact' },
]
---

<footer class="bg-dark-900 px-4 py-12 sm:px-6 md:py-16 lg:px-8">
  <div
    class="mx-auto grid gap-8 sm:max-w-3xl md:grid-cols-3 md:gap-y-12 lg:max-w-screen-xl lg:grid-cols-4"
  >
    {/* Logo and copyright text */}
    <div class="flex flex-col lg:mx-auto">
      <div class="flex items-center">
        <a href="/" class="group text-2xl font-black lg:block">
          <span
            class="text-white transition duration-200 ease-in-out group-hover:text-dark-300"
          >
            Heart + Code
          </span>

        </a>
      </div>
      <div class="mt-6 text-lg text-dark-300 md:mt-8">
        © {new Date().getFullYear()} Heart and Code.
        <br /> All rights reserved.
      </div>
    </div>
    {/* Contact information */}
    <div class="lg:mx-auto">
      <h6 class="text-xl font-semibold text-white">Get in touch</h6>
      <p class="mt-2 text-lg text-dark-300">
        {CONTACT.address.street}
        <br />
        {CONTACT.address.city}, {CONTACT.address.state}{' '}
        {CONTACT.address.zip}
      </p>
      <p class="mt-6 text-lg text-dark-300">{CONTACT.phone}</p>
      <p class="text-lg text-dark-300">{CONTACT.email}</p>
    </div>
    {/* Site links */}
    <div class="lg:mx-auto">
      <!-- <h6 class="text-xl font-semibold text-white">Company</h6>
      <ul class="mt-2 space-y-1 text-lg">
        {
          footerLinks.map((link) => (
            <li class="font-medium text-dark-300 hover:text-white">
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </ul> -->
    </div>
    {/* Social links */}
    <!-- <div class="sm:col-span-3 lg:col-span-1 lg:mx-auto">
      <h6 class="text-xl font-semibold text-white">
        Follow us on social media
      </h6>
      <p class="mt-2 text-lg text-dark-300">
        Stay connected and updated on our latest projects.
      </p>
      <div class="mt-4 w-full lg:mt-6">
        {/* Social links container */}
        <div class="flex justify-start space-x-4">
          {
            SOCIALS.map((socialLink) => (
              <div>{socialLink.name}</div>
              // <SocialButton href={socialLink.href} name={socialLink.name} />
            ))
          }
        </div>
      </div>
    </div> -->
  </div>
</footer>
