---
import '@fontsource-variable/inter'
import Navbar from '../components/shared/Navbar.astro'
import Footer from '../components/shared/Footer.astro'
import { SITE } from '../config'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title?: string
  author?: string
  description?: string
  ogImage?: string
  canonicalURL?: string
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
  canonicalURL = 'test.com'// new URL(Astro.url.pathname.replace(/\/$/, ''), Astro.site)
    //.href,
} = Astro.props

const socialImageURL = new URL(ogImage ?? SITE.ogImage, Astro.url.origin).href
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main class="bg-dark-900"><slot /></main>
    <Footer />
  </body>
</html>
